<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Diabetes Risk Assessment</title>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>
<body>
  <h1>Diabetes Risk Assessment</h1>
  <form action = "{{ url_for('uploader')}}" method="POST">
    <label for="pregnancies">Pregnancies:</label>
    <input type="number" id="pregnancies" name="pregnancies" required>

    <label for="glucose">Glucose:</label>
    <input type="number" id="glucose" name="glucose" required>

    <label for="bloodpressure">Blood Pressure:</label>
    <input type="number" id="bloodpressure" name="bloodpressure" required>

    <label for="skinthickness">Skin Thickness:</label>
    <input type="number" id="skinthickness" name="skinthickness" required>

    <label for="insulin">Insulin:</label>
    <input type="number" id="insulin" name="insulin" required>

    <label for="bmi">BMI:</label>
    <input type="number" id="bmi" name="bmi" step="0.01" required>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required>

    <label for="diabetespredigreefunction">Diabetes Pedigree Function:</label>
    <input type="number" id="diabetespredigreefunction" name="diabetespredigreefunction" step="0.001" required>

    <button type="submit">Submit</button>
  </form>

  <br>
  <br>
   {{ result }}


</body>
</html>